section{
  color: gray;
}
body{
  margin-left: 5%;
  margin-right: 5%;
  background-color: #fefbd8;
  color: black;
}
p{
  color: black;
  font-family: sans-serif;
}
h1, h2, h3,h5{
  font-style: italic;
  font-family: serif;
  color: black;
  border: 1px solid black;
}


#nav ul {
    /*text-align: center;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9babb2 ;
}
#nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav li{
  float: left;
}
#nav li a:hover {
    background-color: #111;
}
#nav li a:active{
  background-color: green;
}

nav{
  text-align: center;
}
@media only screen and (min-width: 600px) {
  body{
    margin-bottom: 8px;
    margin-left: 49px;
    margin-right: 49px;
    margin-top: 8px;
  }
}
